name: Excel to Mongo Sync

on:
  schedule:
    - cron: "0 1 * * *" # 6:30 AM IST
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Excel to Mongo script
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
        run: |
          python exceltoMongo.py
